# run with python lureparty.py -cf lureparty.ini
# see https://github.com/krosenvold/RocketMap/blob/develop/README_TOOLS.md

db-type: mysql        # sqlite (default) or mysql
db-host: host              # required for mysql
db-port: port              # required for mysql
db-name: aDb              # required for mysql
db-user: username              # required for mysql
db-pass: password
captcha-key: your-key
gmaps-key: your-key
hash-key: [your-hash]
account-search-interval: 86400
json-locations=locations.json
# accounts will be branded to these names with number appended. max 12 chars
base-name=[Lurz4ever,MoreLurz]
# Owner in the database table
owner=demo_lureparty
# rocketmap format: ptc,username,password
accountcsv=accounts.txt


